<h2>Show a single stim named {{title}}</h2>

<p> here we should be able to print out some standard set of info, including its filename, top-level type of stimulus, author, etc. </p>

<p> Big media files can get loaded at this point for viewing. Probably want the option to download just this stim + its info here too. </p>
{{yield}}
