<h2>{{title}}</h2>

<ul>
  {{#each stimuli as |stim|}}
    <li>{{stim}}</li>
  {{/each}}
</ul>

<ul>
    <li><a href="/viewstim">hardcoded link to view a stim!</a></li>
</ul>

<p> each stim should be clickable and lead to the corresponding viewstim page. At this point, we should load only thumbnails/small previews of stimuli.  </p>

<p> And there should be a button to download this list of stim + its json info file + the info file of its parent stimlist(s)</p>
