
<h2> About </h2>

<p>This is (going to be) a searchable database of psychological stim. You contribute to it by making a public repository on OSF and including a component which contains individual file (stim, info) pairs.  If you put them in the right format (and mark them with a special tag?) then the database finds/loads them.</p> 

<p>Community norms!  Everything is public/cc licensed, and everything stimulus has a citation; if you use the stimulus you give the citation. </p>

<p>Things that should be very easy for <i>users</i> of stimuli to do:</p>
<ul>
	<li>Find and browse stimulus sets</li>
	<li>Search for stimuli, including both easily discovering common fields and unstructured searching. This needs to be more than a searchbox, but not sure how much more.</li>
	<li>Download stimuli with their information - including something more user-friendly than a pile of json files!</li>
</ul>

<p>Things that should be pretty easy for contributors of stimuli to do:</p>
<ul>
	<li>Find out what kind/type their stimset is and what tagging is required by the schema</li>
	<li>Provide the tagging info in spreadsheet form, and get back the corresponding json files (Something like how the simple mturk online interface will download you a csv with the necessary columns for the variables you used</li>
	<li>Send you to OSF to upload those files</li>
</ul>

<p></p>
<p></p>

{{outlet}}
