<h2> a fake search page </h2>

<p><a href="/fakesearchresults"> pretend to search! </a></p>

<p>Rough idea for search: you can select (or not) what type of stimuli you want from a list (e.g. videos, Events, etc.). After you choose those types, you can see a drop-down of attributes those things have. Check off the ones you want to give values for.</p>

<p>Question: how deep does this go?  Some json fields by their natures have as small set of values, some have infinite.  Probably we should pick a smallish list of the ones we (dynamically?) provide; an endless list is usually not helpful. </p>

<p> Also/or, once you limit yourself to a type or attribute value, also be able to search in an unrestricted way through those json files for arbitrary text. In principle, you should be able to search <i> the entire world of stimuli</i> for stims that mention the word 'fish' somehwere.</p>
{{outlet}}
