{{stim-list title="results-of-search page" stimuli=model}}

<p> (Everything above this pt is currently just a hard-coded list. But this is the real page that should be generated when we search (even if we searched for the exact contents of 1 stimset.)</p>


{{outlet}}
