<h3> A hard-coded page of links until I learn how to make a sidebar</h3>

<h4> simpler pages the website should have </h4>
<p><a href="/about">about page</a>, currently a wishlist</p>
<p>people</p>
<p>how to contribute to this site (instructions)</p>
<p>A big master page with the 'tree' of stimulus schema</p>
<p>Tools for making your json files</p>
<p> A list of all the stim sets that we know about</p>

<br>

<p> a hard-coded version of that last one</p>
<p><a href="/stimsets">stimsets</a></p>


<p>three hard-coded example stim-list instances, to show what it should actually look like</p>
<p><a href="/cbaudio">cbaudio</a></p>
<p><a href="/cbmovies">cbmovies</a></p>
<p><a href="/eventsmp">eventsmp</a></p>

<br>

<p><a href="/fakesearch">a fake search page</a></p>
<p> which leads to...</p>
<p><a href="/fakesearchresults">a fake results page</a></p>
<p><a href="/viewstim">a fake page to preview a single stim</a></p>



{{outlet}}
